.toolbar button.toolbar-item i.format {
  filter: invert(90%);
}
.ion-palette-dark .toolbar .toolbar-item:hover:not([disabled]) i.format {
  filter: invert(0%);
}
.ion-palette-dark .toolbar .divider {
  background-color: #222222;
}
