.editor-input {
  min-height: 150px;
  resize: none;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 0px 10px;
  caret-color: #444;
}

.editor-paragraph {
  margin: 0;
  margin-bottom: 8px;
  position: relative;
  line-height: 20px;
}

.editor-paragraph:last-child {
  margin-bottom: 0;
}

.editor-placeholder {
  opacity: 20%;
  overflow: hidden;
  position: absolute;
  top: 44px;
  left: 12px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}
.android .editor-placeholder {
  top: 52px; // account for the bigger icon size
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-heading-h1 {
  color: var(--color);
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.editor-heading-h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.editor-heading-h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.editor-hr {
  padding: 2px 2px;
  border: none;
  margin: 1em 0;
  cursor: pointer;
}
.editor-hr:after {
  content: '';
  display: block;
  height: 2px;
  background-color: #ccc;
  line-height: 2px;
}
.editor-hr.editor-hr-selected {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

.editor-quote {
  margin: 0;
  margin-left: 20px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.editor-list-ol {
  padding: 0;
  margin: 0;
}

.editor-list-ul {
  padding: 0;
  margin: 0;
}

.editor-listitem {
  margin: 8px 16px;
}

.editor-nested-listitem {
  list-style-type: none;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}
