.bottom-sheet.notes {
  .bottom-sheet-card {
    background: var(--editor-background);
  }
}

.note-browser {
  display: flex;
  height: 100%;

  .note-area.empty {
    text-align: center;

    ion-note {
      height: 100%;
      display: inline-block;
      align-content: center;
    }
  }

  .note-area {
    flex-grow: 3;
    padding-top: 4px;
    padding-right: 4px;
    width: 80%;
    height: 100%;

    .editor-input.note-editor {
      padding: 0px;
      flex-grow: 10;
    }
    .editor-placeholder {
      top: 8px;
    }

    .note-info {
      position: fixed;
      top: 6px;
      left: 42px;
      width: calc(100% - 80px);
      overflow-x: hidden;
      p {
        text-wrap-mode: nowrap;
      }
    }

    .note-actions {
      position: fixed;
      bottom: 0;
      opacity: 0.6;
      right: calc(20% + 8px);
      ion-buttons {
        flex-direction: row-reverse;
      }
    }
  }
  .note-area.note-is-conflict {
    .editor-input.note-editor {
      border: 1px solid var(--ion-color-danger);
    }
  }

  .note-browser-separator {
    border-left: solid 0.4px;
    width: 8px;
  }

  .note-menu.empty {
    text-align: center;

    ion-note {
      height: calc(100% - 48px);
      display: inline-block;
      align-content: center;
    }
  }

  .note-menu {
    width: 20%;

    ion-list {
      background: var(--editor-background);
    }

    .note-actions-bar {
      height: 28px;
    }

    .note-preview {
      margin-top: 5px;
      font-size: small;
      --inner-padding-start: 6px;
      --inner-padding-end: 6px;
      --inner-border-width: 1px;
      --padding-start: 0px;
      --padding-end: 0px;
    }

    .note-preview-selected {
      color: var(--ion-color-primary);
    }

    .note-preview-empty {
      --color: var(--ion-color-medium);
    }

    .note-is-conflict {
      color: var(--ion-color-danger);
    }
  }
}
