.bottom-sheet-card {
  margin: 0;
  padding: 0px;
  height: 100%;

  ion-card-content {
    padding: 0 8px;
    height: calc(100% - 22px);
    display: flex;
    flex-direction: column;
  }
  .expand-bar {
    height: 22px;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    padding: 4px;
    background: var(--ion-background-color);
    border-top: 1px solid var(--ion-color-light);
    border-right: 1px solid var(--ion-color-light);
  }
}
