// global main menu
#root > ion-app > ion-menu {
  margin-top: var(--safe-area-inset-top, 0px);
  margin-bottom: var(--safe-area-inset-bottom, 0px);
  margin-left: var(--safe-area-inset-left, 0px);
  margin-right: var(--safe-area-inset-right, 0px);
}

// cancel global style with .ion-page to make it more specific
.ion-page ion-toolbar:first-of-type {
  padding-top: 0;
}
.ion-page ion-footer.footer-toolbar-padding ion-toolbar:last-of-type {
  padding-bottom: 0;
}

// reapply style only for main content
#main-content {
  margin-top: var(--ion-safe-area-top, 0);
  margin-bottom: var(
    --keyboard-bottom-offset,
    var(--ion-safe-area-bottom, 0px)
  );
}

// for modals
ion-modal.keyboard-aware-modal::part(content) {
  margin-top: var(--ion-safe-area-top, 0);
  margin-bottom: var(
    --keyboard-bottom-offset,
    var(--ion-safe-area-bottom, 0px)
  );
  max-height: calc(
    var(--viewport-height, var(--max-height, 0px)) - var(--ion-safe-area-top)
  );
}
