// global content & modals
#root > ion-app > .ion-page,
#root > ion-app > ion-modal {
  padding-top: var(--safe-area-inset-top, 0px);
  padding-bottom: var(--safe-area-inset-bottom, 0px);
  padding-left: var(--safe-area-inset-left, 0px);
  padding-right: var(--safe-area-inset-right, 0px);
}

// main menu
#root > ion-app > ion-menu::part(container) {
  top: var(--safe-area-inset-top, 0px);
  bottom: var(--safe-area-inset-bottom, 0px);
  height: unset;
}

// cancel global style with .ion-page to make it more specific
.ion-page ion-toolbar:first-of-type {
  padding-top: 0;
}
.ion-page ion-footer.footer-toolbar-padding ion-toolbar:last-of-type {
  padding-bottom: 0;
}
