/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

ion-toolbar.slim {
  --min-height: 36px;
}

ion-input.invisible,
ion-textarea.invisible {
  --highlight-color-focused: rgba(var(--highlight-color-focused), 0);
}

ion-list.wrapper-list {
  ion-item {
    --padding-start: 0px;
    --padding-end: 0px;
    --inner-padding-end: -16px;
    --ion-safe-area-right: -16px;
  }
}
ion-list.inner-list {
  width: 100%;
  padding: 0;

  ion-item {
    --padding-start: 4px;
    --padding-end: 4px;
  }
}

ion-item.inner-item {
  --padding-start: 4px;
  --padding-end: 4px;
}

ion-item.inner-item-slim {
  --padding-start: 0px;
  --padding-end: 0px;
  --inner-padding-end: 0px;
}
ion-icon.slim[slot='start'] {
  margin-inline-end: 18px;
}

ion-breadcrumb::part(native),
ion-breadcrumb::part(collapsed-indicator) {
  padding: 0;
}
ion-breadcrumb::part(collapsed-indicator) {
  margin: 0;
  width: 22px;
}
ion-breadcrumb {
  ion-button {
    margin: 0;
  }
  ion-button::part(native) {
    padding: 0;
  }
}

ion-modal.auto-height {
  --height: auto;
}
