.editor-input.timed-writing.warn1 {
  opacity: 0.3;
  color: var(--ion-color-danger);
}

.editor-input.timed-writing.warn2 {
  opacity: 0.5;
  color: var(--ion-color-danger);
}

.editor-input.timed-writing.warn3 {
  opacity: 0.8;
  color: var(--ion-color-danger);
}
