.page-browser {
  position: fixed;
  z-index: 999999;
  right: 10px;
  top: 100px;
  width: 15%;
  max-height: 50%;
  min-width: 90px;
  overflow: auto;
  opacity: 95%;

  .page-item {
    margin-top: 5px;
    font-size: small;
    --inner-padding-start: 10px;
    --inner-padding-end: 10px;
    --inner-border-width: 1px;
  }

  .page-item-empty {
    --color: var(--ion-color-medium);
  }

  .page-item-doc {
    --border-color: var(--ion-color-secondary-shade);
    color: var(--ion-color-secondary-shade);
  }

  .page-item-selected {
    color: var(--ion-color-primary);
  }
}

.toggle-pages-browser-btn {
  position: fixed;
  z-index: 999999;
  right: 0px;
  top: 55px;
}
