.comment-browser {
  display: flex;
  height: 100%;

  .comment-area.empty {
    text-align: center;

    ion-note {
      height: 100%;
      display: inline-block;
      align-content: center;
    }
  }

  .comment-area {
    flex-grow: 3;
    padding-top: 8px;
    width: 80%;
    height: 100%;

    .editor-input.comment-editor {
      padding: 0px;
      flex-grow: 10;
    }
    .editor-placeholder {
      top: 8px;
    }

    .comment-info {
      position: fixed;
      top: 0;
    }

    .comment-actions {
      position: fixed;
      bottom: 0;
      opacity: 0.6;
      right: calc(20% + 8px);
      ion-buttons {
        flex-direction: row-reverse;
      }
    }
  }

  .comment-browser-separator {
    border-left: solid 0.4px;
    width: 8px;
  }

  .comment-menu.empty {
    text-align: center;

    ion-note {
      height: calc(100% - 48px);
      display: inline-block;
      align-content: center;
    }
  }

  .comment-menu {
    width: 20%;

    .comment-actions-bar {
      height: 28px;
    }

    .comment-preview {
      margin-top: 5px;
      font-size: small;
      --inner-padding-start: 6px;
      --inner-padding-end: 6px;
      --inner-border-width: 1px;
      --padding-start: 0px;
      --padding-end: 0px;
    }

    .comment-preview-selected {
      color: var(--ion-color-primary);
    }

    .comment-preview-empty {
      --color: var(--ion-color-medium);
    }
  }
}
